<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Evento</title>
    <link rel="stylesheet" href="/paradigmas/EventoAPP/src/main/resources/templates/formEvento.css">
</head>

<body>
<div class="container">
    <header>
        <ul class="navigation">
            <li><a href="">Home</a></li>
            <li><a href="">Eventos</a></li>
            <li><a href="">Novo Evento</a></li>
        </ul>
    </header>

    <main>
        <div class="table">
            <div class="text">
                <h2>Cadastrar Novo Evento</h2>
                <form class="container" method="post">
                    <div class="input-field">
                        Nome: <input type="text" value="" name="nome" />
                    </div>
                    <div class="input-field">
                        Local: <input type="text" value="" name="local" />
                    </div>
                    <div class="input-field">
                        Data: <input type="date" value="" name="data" />
                    </div>
                    <div class="input-field">
                        Horário: <input type="time" value="" name="horario" />
                    </div>
                    <div class="button">
                        <button type="submit" class="waves-effect waves-light btn">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <ul class="navigation">
            <li><a href="https://github.com/KaynanSouza" target="_blank">@KaynanSouza</a></li>
            <li><a href="https://github.com/Felipemg05" target="_blank">@Felipemg05</a></li>
            <li><a href="https://github.com/EduardoEurico" target="_blank">@EduardoEurico</a></li>
            <li><a href="https://github.com/" target="_blank">@XXXRogerXXX</a></li>
            <li><a href="https://github.com/" target="_blank">@Conti</a></li>
        </ul>
    </footer>
</div>
</body>

</html>
